.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.2rem 0.2rem;
  width: 100%;
  min-width: 300px;
  position: fixed;
  background-color: #fff;
}

.form {
  display: flex;
  width: 100%;
}

.input_text {
  flex-grow: 1;
  height: 2.5rem;
  margin: 0px 1rem;
  font-size: 1.8rem;
}

.input_text::placeholder {
  text-align: center;
  font-size: 1.8rem;
}

.input_text:focus::placeholder {
  text-align: left;
}

.button {
  width: 100%;
  height: 2.8rem;
  align-items: flex-end;
}

.logo {
  height: 90px;
}

.logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 631px) {
  .root {
    flex-direction: column;
  }
}
