.root {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-decoration: none;
  color: black;
  justify-self: center;
}

.root:hover {
  opacity: 0.8;
}

.videoTitle {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0px;
  line-height: 2rem;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
}

.channelTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.channelTitle > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
