.root {
  display: grid;
  grid-gap: 1rem;
  background-color: grey;
  justify-content: center;
  align-self: center;
  padding: 0 1em;
}

@media screen and (min-width: 632px) and (max-width: 956px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 957px) and (max-width: 1280px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1281px) {
  .root {
    grid-template-columns: repeat(4, 1fr);
  }
}
